__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

.venv/
venv/
env/
ENV/

*.log
.env

serviceAccountKey.json
*serviceAccount*.json
backend/serviceAccountKey.json

.vscode/

.DS_Store
Thumbs.db

.ipynb_checkpoints/

build/
dist/
*.egg-info/